.App {
  text-align: center; }

.App-header, .board-header {
  background-color: darkgreen;
  height: 50px;
  padding: 10px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.board {
  width: 60vw;
  background-color: grey;
  min-height: 20vh;
  margin-left: 20vw;
  margin-top: 20px; }

.board-control, .board-item {
  display: flex; }

.grid-item {
  width: 25%;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  background-color: #d3d3d3; }

.avatar {
  height: 20px;
  width: 20px;
  display: inline; }

.isEven {
  background-color: #9a9a9a; }

.control-30day:hover, .control-AllTime:hover {
  background-color: #cacaca; }
